*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.vue-repl {
  --color-branding: var(--wb-color-primary) !important;
  --color-branding-dark: var(--wb-color-primary) !important;

  height: calc(100% - 4rem) !important;
}
