.wb-input-number {
  --wb-input-number-width: calc(var(--wb-input-number-height) * 6);
  --wb-input-number-text: var(--wb-color-text-1);
  --wb-input-number-placeholder: var(--wb-color-text-4);
  font-size: var(--wb-input-number-font-size);
  transition: var(--transition-ease);
}
.wb-input-number:focus-within {
  --wb-input-number-background: rgb(var(--vc-primary) / 6%);
}
.wb-input-number-content {
  text-align: var(--wb-input-number-align);
  font-size: var(--wb-input-number-font-size);
}
.wb-input:focus-within .wb-input-clear {
  display: block;
}
.wb-input-number input {
  width: 100%;
}

/* ----------------------------------- size ----------------------------------- */
.wb-input-number--xs {
  --wb-input-number-height: var(--wb-comp-height-xs);
  --wb-input-number-padding: var(--wb-comp-padding-xs);
  --wb-input-number-font-size: var(--wb-comp-font-size-xs);
  --wb-input-number-radius: var(--wb-comp-radius-xs);
  --wb-input-number-gap: var(--wb-comp-content-gap-xs);
}
.wb-input-number--sm {
  --wb-input-number-height: var(--wb-comp-height-sm);
  --wb-input-number-padding: var(--wb-comp-padding-sm);
  --wb-input-number-font-size: var(--wb-comp-font-size-sm);
  --wb-input-number-radius: var(--wb-comp-radius-sm);
  --wb-input-number-gap: var(--wb-comp-content-gap-sm);
}
.wb-input-number--md {
  --wb-input-number-height: var(--wb-comp-height-md);
  --wb-input-number-padding: var(--wb-comp-padding-md);
  --wb-input-number-font-size: var(--wb-comp-font-size-md);
  --wb-input-number-radius: var(--wb-comp-radius-md);
  --wb-input-number-gap: var(--wb-comp-content-gap-md);
}
.wb-input-number--lg {
  --wb-input-number-height: var(--wb-comp-height-lg);
  --wb-input-number-padding: var(--wb-comp-padding-lg);
  --wb-input-number-font-size: var(--wb-comp-font-size-lg);
  --wb-input-number-radius: var(--wb-comp-radius-lg);
  --wb-input-number-gap: var(--wb-comp-content-gap-lg);
}
.wb-input-number--xl {
  --wb-input-number-height: var(--wb-comp-height-xl);
  --wb-input-number-padding: var(--wb-comp-padding-xl);
  --wb-input-number-font-size: var(--wb-comp-font-size-xl);
  --wb-input-number-radius: var(--wb-comp-radius-xl);
  --wb-input-number-gap: var(--wb-comp-content-gap-xl);
}

/* ----------------------------------- type ----------------------------------- */
.wb-input-number--base {
  --wb-input-number-border: var(--wb-color-border-base);
}

.wb-input-number--ghost {
  --wb-input-number-color-bg: transparent;
  --wb-input-number-color-border: transparent;
}
.wb-input-number--ghost:hover {
  --wb-input-number-border: var(--wb-color-border-base);
}

/* ----------------------------------- theme ----------------------------------- */
.wb-input-number--side {
  box-shadow: none !important;
}

/* ----------------------------------- status ---------------------------------- */
.wb-input-number--disabled {
  --wb-input-number-text: var(--wb-color-text-2);
  --wb-input-number-background: rgb(var(--vc-gray-800));
}
.wb-input-number--disabled .wb-input-number-options {
  display: none;
}

/* ----------------------------------- align ----------------------------------- */
.wb-input-number-content--start {
  --wb-input-number-align: start;
}
wb- .wb-input-number-content--center {
  --wb-input-number-align: center;
}
.wb-input-number-content--end {
  --wb-input-number-align: end;
}

/* ----------------------------------- options ----------------------------------- */
.wb-input-number .wb-input-number-options {
  opacity: 0;
  transition: var(--wb-transition-ease);
}
.wb-input-number:hover .wb-input-number-options {
  opacity: 1;
}
.wb-input-number:focus-within .wb-input-number-options {
  transition: var(--wb-transition-ease);
}
