.wb-toggle {
  --wb-toggle-background: var(--wb-color-layer);
  --wb-toggle-indicator: var(--wb-color-background);
  --wb-toggle-background-active: var(--wb-toggle-color);
  transition: var(--transition-ease);
}

/* ----------------------------------- size ----------------------------------- */
.wb-toggle--xs {
  --wb-toggle-height: var(--wb-comp-height-xs);
  --wb-toggle-height-content: calc(var(--wb-comp-height-xs) - 0.25rem);
  --wb-toggle-radius: var(--wb-comp-radius-xs);
}
.wb-toggle--sm {
  --wb-toggle-height: var(--wb-comp-height-sm);
  --wb-toggle-height-content: calc(var(--wb-comp-height-sm) - 0.375rem);
  --wb-toggle-radius: var(--wb-comp-radius-sm);
}
.wb-toggle--md {
  --wb-toggle-height: var(--wb-comp-height-md);
  --wb-toggle-height-content: calc(var(--wb-comp-height-md) - 0.625rem);
  --wb-toggle-radius: var(--wb-comp-radius-md);
}
.wb-toggle--lg {
  --wb-toggle-height: var(--wb-comp-height-lg);
  --wb-toggle-height-content: calc(var(--wb-comp-height-lg) - 0.75rem);
  --wb-toggle-radius: var(--wb-comp-radius-lg);
}
.wb-toggle--xl {
  --wb-toggle-height: var(--wb-comp-height-xl);
  --wb-toggle-height-content: calc(var(--wb-comp-height-xl) - 1rem);
  --wb-toggle-radius: var(--wb-comp-radius-xl);
}

/* ----------------------------------- theme ----------------------------------- */
.wb-toggle--primary {
  --wb-toggle-color: var(--wb-color-primary);
}
.wb-toggle--white {
  --wb-toggle-color: rgb(var(--wb-vc-foreground));
}
.wb-toggle--success {
  --wb-toggle-color: rgb(var(--vc-success));
}
.wb-toggle--warning {
  --wb-toggle-color: rgb(var(--vc-warning));
}
.wb-toggle--danger {
  --wb-toggle-color: rgb(var(--vc-danger));
}
.wb-toggle--default {
  --wb-toggle-color: var(--wb-color-border-base);
}

/* ----------------------------------- shape ----------------------------------- */
.wb-toggle--round {
  --wb-toggle-radius: calc(var(--wb-toggle-height) / 2);
}
